[2022-02-16 23:02] resatkrlc commented on #3119
@sensuslankoylu Bir sorum var, 6-7 yol derken neyi kastettiniz? Benim bildiğim sadece mesaj atmak var, başka yolu var mı acaba?

[2022-02-17 01:16] ersinayaz commented on #3119
notiseen geliştiricisi buralarda mı ?
**çalışmayan** app için 4 gündür günde 10 tane **spam** bildirim yollamakla kullanıcı tutulmaz.
Bu tarz davranışlar yüzünden AppStore/GPlay'den yaptırımlar alacağız senin yüzünden!

[2022-02-17 05:38] ertanboler commented on #3119
@sensuslankoylu  kişisel yazmaktan kaçınmanı öneririm. Kişisel bir durum yok burada. Senin piyasayı domine eden arkadaşlarına beni sorarsın. Kişiselleştirirsen sen zararlı çıkarsın. Çok heyecanlısın, kendi paranı kazanmanın verdiği hissi tatmışsın ve korkuların yükselmiş. Dikkat et sözlerine. Kişisel yazmaya devam etmemeni öneririm. Bu arada 17 yılı devirmişim.
Yowsup konusuna yazıp da polemik yap

[2022-02-17 13:21] samuelscheit commented on #3123
I'm working on a solution

[2022-02-17 16:42] reddington000 commented on #3119
Herkes çok gergin.
@ersinayaz, noti seen @ozymoz 'un.

[2022-02-17 18:07] ersinayaz commented on #3119
Çalışmayan sistem için scam davranışlar bu işi yapan/yapmış olan/yapmaya devam edecek olan herkesi 1. derecede etkiler.
Bu tür davranışlar sonucu AppStore'a giden refund ve şikayetler sonrasında inceleme gelip tüm herkesin zararına sonuçlar oluşacaktır.

Çözebilen yoluna baksın, çözemeyene kolaylıklar gelsin.

[2022-02-17 18:19] ekucet commented on #3119
Çözen var mı acaba? Yani bu işin bir çözümü mevcut mu? 3-5 aydır buralardayım. Bu arada dediklerinize harfiyen katılıyorum. Hit&Run yapmaya çalışan çok var.

[2022-02-17 18:20] ersinayaz commented on #3119
yowsup devri bittiği için konuyu kapatıyorum arkadaşlar.

Dileyen olursa bir wa grubu kurdum. Tanışıp, yowsup harici fikir alışverişi yapmak isteyenler katılabilir.
https://chat.whatsapp.com/Fee5ul2Fr1M95buyAtFXbE

[2022-02-17 18:20] #3119 closed, assigned to tgalal

[2022-02-17 18:31] reddington000 commented on #3119
Ben de 2 yıldır bu sektördeyim, naçizane fikrim çalışan arkadaşların da numaraları yakında çalışmamaya başlayacak. Benim de şuan çalışan numaralarım var. WABetaInfo geçen gün yine bi anket yaptı, kimler online mevzusunun kapanmasını istiyor diye. Çok ciddi bir kitle var bu konuda. WA yöneticileri doğrudan bu twitter hesabını takip ediyorlar. Bence WA yakın bir süreçte artık Contactlara da bunu gös

[2022-02-18 07:43] dshetyo commented on #3115
+1. Can the repo owner reply to this?

[2022-02-18 17:42] Macarthurval commented on #3119
I'm petty sure most of us here would greatly appreciate it if you would use the English language to share your thoughts. Surely it will be easier for everyone to collaborate. I don't mean to bother, I just hope you understand, thank you.

Eminim buradaki çoğumuz düşüncelerinizi paylaşmak için İngilizce kullanırsanız çok memnun oluruz. Elbette herkesin işbirliği yapması daha kolay olacaktır. Rahats

[2022-02-18 22:21] samuelscheit commented on #3123
Alright after setting up the reverse engineering environment I was able to debug the WhatsApp application and decompiled the smali source code to java for easier readability. (I'll later publish a setup guide for other contributors)
The backup_token is generated the first time the user registers and then saved in a local ``backup_token`` file.

I've written a guide on how to generate this backup_t

[2022-02-19 02:43] leotrubach commented on #3123
[code]
Converted to python, checked on non-random salt, IV and payload (random 20 bytes)
[code]
The results in JS code and Python code match (`'000200010203000102030405060708090a0b0c0d0e0f67fa2d28f830f0333d868a43d35da3e75118141a'`)
starting working on PR

[2022-02-19 03:24] leotrubach commented on #3123
@Flam3rboy do we know how backup token is passed? I tried base64 and hex and insert it as ,"backup_token" but it didn't work.
Are there frameworks in java or js like yowsup where it was implemented?

[2022-02-19 06:53] assegaf commented on #3123
more effort converting java to pyton, we already pissed off converting smali to java ...

[2022-02-19 08:30] samuelscheit commented on #3123
@leotrubach I'm currently investigating how the backup token is passed to WhatsApp and will let you know when I find anything 👍

[2022-02-19 14:39] samuelscheit commented on #3123
When the registration request is constructed the following parameters are passed to the JniBridge
<img width="1842" alt="image" src="https://user-images.githubusercontent.com/34555296/154801064-8ceeee82-3cc6-40c7-b815-ffb6b21f9ebe.png">
The backup_token is probably named something else, because I can't find any property named backup_token

[2022-02-19 16:04] leotrubach commented on #3123
Okay, i decoded some parts of hashmap, so probably backup token isn't in that hashmap, which means it could be one of
v6 or v7
[code]

[2022-02-21 11:03] sensuslankoylu commented on #3115
this is commercial info. i dont think, no one can answer.

[2022-02-22 15:22] mrhghhgh commented on #3123
Where is the location in project
 and the format that we should save this file?

[2022-02-22 15:36] samuelscheit commented on #3123
@mrhghhgh It is saved as binary in ``/data/data/com.whatsapp/files/backup_token``

[2022-02-23 09:22] mrhghhgh commented on #3123
Thanks, but is this an android directory? I was using yowsup in desktop ubuntu before this error be appeared and in yowsup project folder or ubuntu there isn't any directory like this. Please help me again

[2022-02-23 13:38] galdudi commented on #3123
The real question is not where it saved, but how it is sent during registration?

[2022-02-24 21:22] guy111a commented on #3123
so is there a solution or this is not usable any more ?

[2022-02-24 21:23] FreedomLabsIO commented on #3123
I'm wondering the same

[2022-02-25 01:00] assegaf commented on #3123
well its easy if you can follow how its generated and sent (encoded) in apk file, use jadx-gui to find out

[2022-02-25 06:19] ayotawaska commented on #3119
if anybody need presence api, contact : ayotawaska@gmail.com

[2022-02-25 07:44] guy111a commented on #3123
Thank you .. if I could understand what to do I would not have asked …

Guy A

[2022-02-25 10:57] assegaf commented on #3123
register using real android phone and find all data in /data/data/com.whatsapp to be used by yowsyup

[2022-02-25 12:20] guy111a commented on #3123
Thank you.

I don’t have android.
Can it be done by computer ( windows / linux ) or by iphone ?

Guy A

[2022-02-25 12:38] guy111a commented on #3123
Can any one just add the line how to call the function? What fields should be passes.

Guy A

[2022-02-26 22:18] M-Mortaz commented on #3120
same here

[2022-02-26 22:18] M-Mortaz commented on #3120
same here

[2022-03-01 13:43] Whomakes commented on #3123
Has anyone found a fix?

[2022-03-01 14:23] assegaf commented on #3123
its common encoding parameter aes hash
SecretKeySpec secretKeySpec = new SecretKeySpec(new SecretKeySpec(C015602t.m20338A06(obj.getBytes(), A0D, 16, 128).getEncoded(), "AES").getEncoded(), "AES/OFB/NoPadding");
etc etc ..

but the main problem its using Android BackupAgentHelper mechanism, which is upload your backup_token to google cloud.
so basically if you register and able to generate the hash

[2022-03-02 07:58] galdudi commented on #3123
Has anyone know where on android client saves: expid, fdid, id ?

[2022-03-03 04:34] dhirennjaypal commented on #3123
has anyone solved this ? i am trying this for first time.

[2022-03-03 20:33] varknov commented on #3123
i found the way and how is sent, registration working. interested ones can contact me: nluaf9hwz@mozmail.com

[2022-03-03 20:51] guy111a commented on #3123
i will be happy if you add it here ...

On Thu, Mar 3, 2022 at 10:33 PM varknov ***@***.***> wrote:

--

~Guy

[2022-03-03 21:16] guy111a commented on #3123
Ya .. well. Good luck with btc lol ..

Guy A

[2022-03-07 14:50] rafaelnordavind commented on #3118
I have a problem sending to new groups. Previously the group format was like this:
55XXXXXXXXX7-14XXXXXXX0

now the format for new groups is like this:
12XXXXXXXXXXXXXXX8

For these new groups the message is not sent.

[2022-03-08 18:40] Ruddymarquez commented on #711
yowsup-cli registration --requestcode sms --config-phone +584127885694 --config-cc 58 --config-mcc 734 --config-mnc 02
E 2022-03-08 14:38:04,771 yowsup.config.manager - Could not find a config for profile=+584127885694, paths checked: +584127885694:/home/ruddy/.config/yowsup/+584127885694/config.json:/home/ruddy/.config/yowsup/+584127885694/config.yo
Error, phone number does not start with the spe

[2022-03-10 01:55] barart opened #3126 "WhatsApp Web Multi-device (non beta)"
As WhatsApp Web Multi-device is non in beta anymore my whastapp web client (of my phone number) asked me to update, when i update it i cant read yowsup messages that where send to me and my groups on my whatsapp web client, i can only read the messages that yowsup send on my phone, on my whastapp web client i only get a "Waiting for this message. This may take a while"

Does anyone knows how can w

[2022-03-10 12:35] rafaelnordavind commented on #3126
the same happens here

[2022-03-10 16:22] saharh commented on #3123
I believe the parameters encoding are taking part in the native lib (libwhatsapp.so), so while we have a good idea of the data sent to the native lib ([See here](https://github.com/tgalal/yowsup/issues/3123#issuecomment-1046032214)), in order to understand how the parameter is encoded in the HTTP request we need to debug the native lib, which is challenging.

If anyone already found the solution,

[2022-03-10 20:09] bluej4ker commented on #3126
hey guys,

how can use yowsup? When ı try to create new account, but ı get error.

[2022-03-10 21:44] ElieTabet commented on #3120
Same

[2022-03-11 02:11] kylonrizoki commented on #3126
i can send ready-config file for you. send msg on discord kylonrizoki#3255

[2022-03-11 19:09] gradol commented on #3123
I tried to research the android app first and it really changed a lot of the registration options. However, I tried to research the iOS application and, to my surprise, all registration request parameters remained the same. The only difference is in the implementation of token generation. I made a pull request: https://github.com/tgalal/yowsup/pull/3127 .
The only important condition is to use inf

[2022-03-11 19:29] guy111a commented on #3123
thank you for this information.

can you please explain how to find this information in ios and how to use
it ?

thank you

On Fri, Mar 11, 2022 at 9:10 PM gradol ***@***.***> wrote:

--

~Guy

[2022-03-13 06:41] binbruce commented on #3123
Excuse me
Can you tell me how to get the token?
I want to replace the device information and token.
thanks you so much!

[2022-03-13 12:30] gradol commented on #3123
I used Frida + jailbroken idevice and IDA.
Here sample of code for TOKEN str generation
[code]

Output
`0a1mLfGUIBVrMKF1RdvLI5lkRBvof6vn0fD2QRSM45e25b6ddecace8d01828dd00bd4ff64`

[2022-03-14 05:49] binbruce commented on #3123
how can i contact you.
e.g. e-mail telegram id.
my e-mail: bruce_66@outlook.com

[2022-03-14 12:44] ORMiK0 commented on #3126
duplicate:
https://github.com/tgalal/yowsup/issues/3090

[2022-03-14 20:10] mrjoebudi commented on #3123
**My advice for Yowsup users is to read the reply comments often, there I found a successful way to overcome BAD PARAM, BACKUP_TOKEN Error,**

`C:\\wapy>py yowsup-cli registration --requestcode sms --config-phone 62857xxxxxxxx --config-cc 62 --config-mcc 510 --config-mnc 01
E 2022-03-15 02:58:18,171 yowsup.config.manager - Could not find a config for profile=62857xxxxxxxx, paths checked: 62857xxxx

[2022-03-15 04:52] aavestan commented on #3120
same here

[2022-03-16 11:54] Whatsapp-Protocol commented on #3123
![image](https://user-images.githubusercontent.com/73373815/158584413-a1617be3-e0e8-446f-a683-4a42721d621f.png)

[2022-03-18 17:44] barart commented on #3090
Can someone summarize this? There are mixed responses and languages, does this fix the WhatsApp Web Multidevice messages?

[2022-03-18 20:48] mehmeteyuce commented on #3119
You can see the communication status without sending a message to the number. If you are interested in the method : mehmetyuce3382@gmail.com

[2022-03-18 20:52] mehmeteyuce commented on #3119
It is possible to find out the presence status of anyone.
mehmetyuce3382@gmail.com

[2022-03-18 22:52] bahtiarp commented on #3090
yes, partially fixed.

[2022-03-19 13:30] MYuceOps commented on #3119
There is a way to get the presence feature without sending a message.
TG: @Mehmet33Yuce

[2022-03-20 09:12] Whatsapp-Protocol commented on #3123
I've fixed the issue .
https://t.me/gorgeous006

[2022-03-20 14:53] yucelermehmet33 commented on #3119
It is possible to find out the presence status of anyone.
Mail: mehmetyuce3382[at]gmail.com
Telgram: Mehmet33Yuce

[2022-03-23 05:30] Rodrigosolari opened #3128 "error receive msg"
Today when studying the library, I could realize that he does not receive any message, neither in yowsup, nor in echo, but he does send the messages

[2022-03-24 05:18] mrjoebudi commented on #3128
still work nurmaly, im'm from indonesia

[2022-03-24 19:00] PreMehmet opened #3130 "Presence Online - Offline Not Working!"
WhatsApp Presence method is for sale.

❌ Disappearing Message
❌ Direct Message
❌ Revoke
❌ Multi Device Version in Working Condition, Also Not Needed
❌ Emulator
❌ No api sale
❌ Does not contact target number

✅ Best Way

✅ Yowsup
✅ Baileys
✅ GoWhatsApp
✅ PurpleWhatsApp
✅ And others

mehmetyuce3382@gmail.com

[2022-03-25 05:19] Whomakes commented on #3123
**can anyone generate the latest version version 2.22.4.75?**

[2022-03-29 01:52] barart commented on #3090
Can somebody summarize this? what exact files do i need to change and what lines do i need to put on those files?

Im little confused because the languages and im lost in the conversation/posts ..

[2022-03-30 14:40] Whatsapp-Protocol opened #3131 "Blocked when send a message"
When I use yowsup to send a message, I get banned immediately.
But can receive messages.

Does anyone have the same problem?

[2022-03-31 08:08] lianyu6569 commented on #3120
same here, Does anyone know what is the reason for this error?Is it necessary to modify the generation function of the token?

[2022-03-31 08:36] lianyu6569 commented on #3120
look here "https://github.com/tgalal/yowsup/pull/3127/files"
Change the android device into an ios device and modify it step by step according to the modification in the file.Then you can register an account

[2022-04-01 00:19] joel-saldana commented on #3123
Hi
Check here: https://github.com/gradol/yowsup/tree/backup_token/yowsup

![image](https://user-images.githubusercontent.com/82477471/161170752-4afd28c7-af5d-42fe-bdbf-0d84b4b9292a.png)

It Works
ur wellcome

[2022-04-01 00:25] joel-saldana commented on #3123
Version: 2.22.7.73
ClassesDex: VQUBHJBFbrgBMyHF+XddCg==

[2022-04-02 03:35] assegaf commented on #3131
its because when registering account and logged in, there is something else sent and received that only official apps has it, example using the google gms (play framework), etc

[2022-04-04 11:22] rafaelnordavind commented on #3090
hello @Analog303,
how i do use this script to fix the problem with web whatsapp?

[2022-04-05 11:31] abadiops commented on #3123
When trying to send a message using yowsup, the following error appears: Centos7 operating system with python updated from version 2.7 to 3.6

Activation already generated config.jason file in root.  Some of the colleagues would have a solution?

yowsup.layers.network.layer - Connecting to e14.whatsapp.net:443
yowsup.axolotl.manager - Loaded 812 unsent prekeys
yowsup.layers.network.dispatcher.disp

[2022-04-08 04:51] Whatsapp-Protocol commented on #3131
So do you know what was reported? Can you give me some hints?

[2022-04-08 13:32] AHMEDLHASANI opened #3132 "'cryptography.x509' has no attribute 'Certificate' (most likely due to a circular import)"
/storage/emulated/0/Android/data/ru.iiec.pydroid3/files $ yowsup-cli registration --requestcode sms --config-phone 2120603617113 --config-cc 212 --config-mcc 604 --config-mnc 05
sh: yowsup-cli: not found
/storage/emulated/0/Android/data/ru.iiec.pydroid3/files $ python yowsup-cli registration --requestcode sms --config-phone 2120603617113 --config-cc 212 --config-mcc 604 --config-mnc 05
E 2022-04-0

[2022-04-08 15:16] assegaf commented on #3131
like I said before, GMS google play framework, or now is named firebase.

[2022-04-08 15:42] abadiops opened #3133 "AttributeError: 'NoneType' object has no attribute 'config'"
When trying to send a message using yowsup, the following error appears: Centos7 operating system with python updated from version 2.7 to 3.6

Activation already generated config.jason file in root. Some of the colleagues would have a solution?

yowsup.layers.network.layer - Connecting to e14.whatsapp.net:443
yowsup.axolotl.manager - Loaded 812 unsent prekeys
yowsup.layers.network.dispatcher.dispa

[2022-04-10 12:04] Whatsapp-Protocol commented on #3123
I have solved this problem.

[2022-04-10 12:31] Whatsapp-Protocol commented on #3131
I saw that whatsapp uses Firebase, but I don't know how it reporte? Can you give some screenshots or code?

[2022-04-11 13:50] abadiops commented on #3123
Friend, whatsapp-Protocol could post the problem resolution link. Even with python 3.6 it still has an error.

[2022-04-14 01:56] assegaf commented on #3131
use jadx-gui to decode the apk

[2022-04-16 00:02] mrjoebudi commented on #3131
advice from me,
Yowsup library is rarely updated,
but read the issue, there are many problems solved and I followed it patiently,
and so far,
for sending Whatsapp messages my advice is to do the command /contacts sync 628xxxxxxxxxxx
, then send a short message as if it were a normal conversation,
I hope this helps

[2022-04-16 00:55] mrjoebudi commented on #3120
that's right !!!! success for me, thank's

[2022-04-16 01:02] mrjoebudi commented on #3133
Type /help for available commands

[offline]:/L
I 2022-04-16 07:59:47,567 yowsup.layers.network.layer - Connecting to e7.whatsapp.net:443
I 2022-04-16 07:59:47,677 yowsup.axolotl.manager - Generating 812 prekeys, current max_prekey_id=0
I 2022-04-16 07:59:47,850 yowsup.axolotl.manager - Storing 812 prekeys
I 2022-04-16 07:59:56,428 yowsup.axolotl.manager - Loaded 812 unsent prekeys
Auth: Logged in

[2022-04-16 02:13] assegaf commented on #3131
obsolete api, now whatsapp web that can usemulti device dont need phone to be online, just use yowsup to register number .. and use whatsapp web multidevice mode.

[2022-04-16 03:28] Whatsapp-Protocol commented on #3131
thanks.
I try to do this, but still get banned when I send a message. Do you know Safety net?

[2022-04-16 07:29] assegaf commented on #3131
then dont register using yowsup, but real android phone, the new android phone ... not used phone, used phone that banned beofre, captured its firebase id, when register new number its banned fast ...

[2022-04-16 09:18] mrjoebudi commented on #3131
still work fine for me, no problem, sir

[2022-04-16 15:19] Whatsapp-Protocol commented on #3131
what's the firebase id?   Can you give me some advice? how should i send the firebase id to whatsapp's server?

[2022-04-16 20:02] assegaf commented on #3131
firebase id is controlled by google play framework, its only on real android device, and you cannt simulate it, so use new phone for different firebase id and different google id too

[2022-04-16 20:09] mrjoebudi commented on #3131
Register using Yowsup is **work** no problem, change .env to **IOS**,
to **Run** YowUp change .env to Android,

**Work Good No Problem**, please be patient to read all Issue, you will find many solution.....

[2022-04-18 08:42] mrjoebudi commented on #3133
**if error , No Attribute Config,**

Have you successfully registered?
put the config file in the root directory where the yowsup folder is,

{
    "__version__": 1,
    "cc": "62",
    "client_static_keypair": "8xxxxxxxxxxxxxxxxxlerGiGXnUxxxxxxkdBpTw==",
    "expid": "pQG9KZxxxxxxxxxxMHw==",
    "fdid": "41e6xxxxxxxxxx4a31bf8f",
    "id": "VgG6hVXZxxxxxxxxxqHnLEwhcc=",
    "login": "62xxxxxxxxxx1

[2022-04-21 01:18] Whomakes opened #3134 "Permanent error - no_routes"
Permanent error! I assume that the problem is that only one device is emulated. How can I change the device?

{'User-Agent': 'WhatsApp/2.22.5.71 iOS/15.3.1 Device/Apple-iPhone 7', 'Accept': 'text/json'}
I 2022-04-21 11:13:24,693 yowsup.common.http.warequest - b'{"flash_type":0,"login":"79064123834","reason":"**no_routes**","retry_after":3600,"sms_wait":0,"status":"fail","voice_wait":0}\n'
INFO:yow

[2022-04-25 04:57] MEHEhsani opened #3135 "Connection Error 10060 during Installing spaCy medium model"
Hi
I couldn't install a medium or large Spacy model via anaconda,
my OS is win10:
I entered this command:
`(base) C:\>python -m spacy download en_core_web_md`

and the operation stop by this error:
`Traceback (most recent call last):
  File "e:\Users\resea\anaconda3\lib\site-packages\urllib3\connectionpool.py", line 703, in urlopen
    httplib_response = self._make_request(
  File "e:\Users\resea\

[2022-04-25 20:37] iskeltan commented on #2935
same here

[2022-04-25 20:43] galdudi opened #3136 "Privacy Token"
When someone is sending me private message, I'm receiving following notification:

<notification from="xxxxxxxxxxxxxx@s.whatsapp.net" type="privacy_token" id="813498621" t="1650917821">
  <tokens>
    <token t="1650917821" jid="yyyyyyyyyyyy@s.whatsapp.net" type="trusted_contact">
      0x0101xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </token>
  </tokens>
</notification>

Does som

[2022-04-25 22:38] iskeltan opened #3137 "Error on registration"
**Describe the bug**
Hello everyone, I did get request code successfully but an error has occurred when registration register step.

**Debug output**

`yowsup-cli registration --register xxx --config-phone xxx772055xxx --config-cc xxx --config-mcc xxx --config-mnc 01 --config-sim_mcc xx --config-sim_mnc 02 -E ios --debug`

[code]

**Versions**

[code]

I added a new environment for ios. I passed a

[2022-04-26 19:58] AbdallaElgali opened #3138 "Can't send email with SMTP using AOL email service provider"

[2022-04-28 11:08] galdudi opened #3139 "Receiving Group Message"
After receiving a message from someone in a group (pkmsg), I'm receiving stream:error on this message and loosing connection.

`<stream:error>
  <ack id="xxxxxxxxxxxxxxxxxxx" />
</stream:error>`

Does anyone know, what to do with that?

[2022-04-28 12:25] mhmh55516 commented on #2960
Run to get WhatsApp Version and WhatsApp ClassesDEX MD5
[code]

[2022-04-29 21:06] samuelscheit commented on #3123
The iOS user agent workaround #3127 will probably stop working eventually, so we need to reverse engineer the structure of the backup token.
This is what I've found in a new apk:
[code]
and
[code]

[2022-04-29 21:06] samuelscheit commented on #3123
This is what I've found about HSM:
https://developers.facebook.com/docs/whatsapp/on-premises/reference/messages#hsm-object
but I don't know if it has anything to do with it

[2022-04-29 22:47] #3138 closed, assigned to tgalal

[2022-05-02 05:50] Rodrigosolari commented on #3137
you can try it with -v to see the complete log, another idea, did you change the registration from Android to IOS?

[2022-05-04 12:06] aniwn88480857 opened #3140 "save() missing 1 required positional argument: 'config'"
SMS received successfully, but there is no config file only axolotl.db

yowsup-cli  v3.2.0
yowsup      v3.3.0

Copyright (c) 2012-2019 Tarek Galal
http://www.openwhatsapp.org

This software is provided free of charge. Copying and redistribution is
encouraged.

If you appreciate this software and you would like to support future
development please consider donating:
http://openwhatsapp.org/yowsup/d

[2022-05-04 12:12] aniwn88480857 commented on #2828
Did you solve this problem?
I also encountered a similar situation.
error is
Traceback (most recent call last):
  File "/usr/bin/yowsup-cli", line 679, in <module>
    if not parser.process():
  File "/usr/bin/yowsup-cli", line 350, in process
    self.handleRequestCode(self.args["requestcode"], config)
  File "/usr/bin/yowsup-cli", line 369, in handleRequestCode
    self._config_manager.save(self

[2022-05-05 18:59] ibanana opened #3141 "error al registrar"
root@ns305455:/opt/yowsup# yowsup-cli registration --requestcode sms -p 34xxxxx555 -C x4 -m xx4 -n x2
Traceback (most recent call last):
  File "/usr/bin/yowsup-cli", line 368, in <module>
    if not parser.process():
  File "/usr/bin/yowsup-cli", line 189, in process
    self.handleRequestCode(self.args["requestcode"], config)
  File "/usr/bin/yowsup-cli", line 198, in handleRequestCode
    from

[2022-05-12 10:31] krypton-byte opened #3142 "can't receive message"
I have defined a function and added decorator @ProtocolEntityCallback("message")
but i can't receive message

[code]

[2022-05-13 04:20] galdudi opened #3143 "Invitation Link"
Does somebody know the syntax of using invitation link?

[2022-05-19 15:30] pietpit commented on #3120
Hello,
thank you so much for the files, i modified the files and create a new file for the ios.
Then i register an account, it works well, so far so good...

But when i will send an message to my mobilphone, i get the following issue and it doesn`t work...

[code]
who can help me...
Greetings
Pit

[2022-05-19 19:18] capsload2 opened #3144 "WhatsApp Business Public API"
Im willing to pay 30€ for somebody that helps me setup:

- Send Image to WhatsApp Group
- The Image is fetched by a PHP URL

[2022-05-22 13:43] Whomakes commented on #3123
can anyone make the latest whatsapp token for ios 2.22.9.76?

[2022-05-24 19:24] MCeyla opened #3145 "WhatsApp Presence Yowsup Code And Method For Sale"
WhatsApp Presence method and yowsup code is for sale. (Online Tracker)

❌ Disappearing Message
❌ Direct Message
❌ Revoke
❌ Multi Device Version in Working Condition, Also Not Needed
❌ Emulator
❌ No api sale
❌ Does not contact target number

✅ Best Way

✅ Yowsup
✅ Baileys
✅ GoWhatsApp
✅ PurpleWhatsApp
✅ And others

It works the same way as it worked 1 year ago. There is no ban problem. Desired proo

[2022-05-25 21:52] kylonrizoki opened #3146 "backend for online-offline status"
hello, does anyone have the online-offline status? I am ready to purchase your yowsup library. please contact discord: kylonrizoki#3255

[2022-05-26 17:45] Mslh-Zaif commented on #3146
Hi

[2022-05-27 19:51] ORMiK0 commented on #3146
WhatsApp disabled this. The solution dont exist.

[2022-05-30 23:25] kylonrizoki commented on #3115
Please pm kylonrizoki#3255

[2022-06-06 06:43] mr-swaraj-chaudhary commented on #319
setting unavailable

[2022-06-07 23:17] kylonrizoki opened #3147 "Lastest? MD5 & Key & Version"
Hello, can you help me for lastest one

 _MD5_CLASSES = "WuFH18yXKRVezywQm+S24A=="

_KEY = "eQV5aq/Cg63Gsq1sshN9T3gh+UUp0wIw0xgHYT1bnCjEqOJQKCRrWxdAe2yvsDeCJL+Y4G3PRD2HUF7oUgiGo8vGlNJOaux26k+A2F3hj8A="

 _VERSION = "2.21.21"

env_android.py

[2022-06-07 23:50] kylonrizoki opened #3148 "json files for phone numbers"
Hello there,

How can I generate JSON files in one of these 2 formats in the fastest way? Can you help with this?

discord: kylonrizoki#3255

thanks

{
    "__version__": 1,
    "cc": "371",
    "client_static_keypair": "GNg+zP+TV7aFrfYARBhOxxcrqVbolLb3Zf31kuwHTGzaeogG4STsFjX8Y+DUtPwkhh/gBUGH6gUQ==",
    "phone": "37124873980",
    "sim_mcc": "000",
    "sim_mnc": "000"
}

or

{"cc":1,"id":"NWM5ZG

[2022-06-08 19:49] heeplr opened #3149 "protobuf: "A file with this name is already in the pool.""
**Describe the bug**

I'm using yowsup with [transwhat](https://github.com/stv0g/transwhat) and this looks like a yowsup issue (please correct me if I'm wrong):

[code]

**Config file**

Not sure where to get the config from. (Kindly advice so I can provide all necessary info)

**Versions**

python: 3.9

[code]

**To Reproduce**

[code]

**Expected behavior**
Startup of transwhat

**OS (please com

[2022-06-09 09:06] heeplr commented on #3135
This doesn't look like a yowsup issue. It's rather related to spacy or anaconda.

[2022-06-10 11:47] heeplr commented on #3149
Found [protobuf issue #3002](https://github.com/protocolbuffers/protobuf/issues/3002) that's most probably related.

[2022-06-10 13:49] phpjoker opened #3150 "Group Create: Bad Request"
Hi all
when want creating a group, it's response error with 'bad request' and not create any group!!!

[2022-06-12 02:04] assegaf commented on #887
demo available using free sip server,
https://github.com/assegaf/siptowhatsapp

[2022-06-21 14:27] RafOSS-br commented on #3141
Run setup.py

[2022-06-22 19:13] RafOSS-br commented on #2916
Function in link [https://github.com/tgalal/yowsup/blob/master/yowsup/demos/cli/layer.py#L234](https://github.com/tgalal/yowsup/blob/master/yowsup/demos/cli/layer.py#L234)

[2022-06-22 21:37] magnussolution opened #3152 "registration process"
hello, can anyone please share the registration process?

I had try with some diferente WhatsApp version, and Android and IOS. In some cases i can't register a new number.

Thanks so much

[2022-06-23 16:11] leonardocxavier commented on #3120
Some error:
root@Natalia:/yowsup# python3 yowsup-cli registration -r sms -c /etc/ac/wp.conf -E android -d
D 2022-06-23 13:08:50,418 yowsup.env.env - Current env changed to android
D 2022-06-23 13:08:50,420 yowsup.config.manager - load(path_or_profile_name=/etc/ac/wp.conf, profile_only=False)
D 2022-06-23 13:08:50,420 yowsup.config.manager - _load_path(path=/etc/ac/wp.conf)
D 2022-06-23 13:08:50,42

[2022-06-24 02:50] codeshoel commented on #319
Go to that account from where you are login with SMTP then try to find security settings where you will find: https://myaccount.google.com/lesssecureapps and try to turn ON

please it is best we note that google gmail lesssecureapp is no long available in google anymore

what you can do is to turn on two step verification from your security page and register an app name, then generate a password y

[2022-06-25 07:49] vadetcka999 opened #3153 "Is this library currently supported and working?"
Is this library currently supported and working?

[2022-06-25 23:36] 1612na commented on #3123
Nice thing is you said u resolved it and not how

[2022-06-28 03:44] chusevip8 opened #3154 "Looking for guys who are studying yowsup, let us study tegother."
hi guys:

I want to create a group on Telegram for studying yowsup or other whatsapp related APIs.

If you are  interesting to join ,please and me @octopus1024 in Telegarm.

[2022-06-28 10:28] vadetcka999 opened #3155 "Is there a working example code on pythone for this library?"
Is there a working example code on pythone for this library?

[2022-06-28 11:20] pantyyy commented on #3152
me too

[2022-06-28 11:27] pantyyy opened #3156 "old_version error"
when i use this command :
python yowsup-cli registration --requestcode sms --config-phone 86XXXXXX --config-cc 86 --config-mcc 460 --config-mnc 01

error is :
b'{"login":"86XXXXXX","reason":"old_version","status":"fail"}

[2022-07-01 01:30] gtcdevop commented on #767
would be possible to identify witch request api does after it reads the QRcode

[2022-07-11 18:57] rafaelnordavind commented on #3090
Has anyone had success in receiving messages in groups both on the mobile app and on Whatsapp Web or on the desktop app?

[2022-07-13 20:02] marlos7 commented on #3123
There is a project that I tested here in nodejs that is very good! i think yowsup has been discontinued
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:02] marlos7 commented on #3120
There is a project that I tested here in nodejs that is very good! i think yowsup has been discontinued
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:03] marlos7 commented on #3090
There is a project that I tested here in nodejs that is very good! i think yowsup has been discontinued
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:03] marlos7 commented on #2960
There is a project that I tested here in nodejs that is very good! i think yowsup has been discontinued
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:04] marlos7 commented on #2996
There is a project that I tested here in nodejs that is very good! i think yowsup has been discontinued
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:05] marlos7 commented on #2979
Looks like has been discontinued, there's a good project I'm using!
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:05] marlos7 commented on #2955
Looks like has been discontinued, there's a good project I'm using!
https://github.com/jonalan7/Hydra-bot

[2022-07-13 20:05] marlos7 commented on #3002
Looks like has been discontinued, there's a good project I'm using!
https://github.com/jonalan7/Hydra-bot

[2022-07-19 08:55] jpmendezf commented on #2960
eres de CR ? podrias enviarme un mensaje al whatsapp? +50685923053. estoy con este mismo problema

[2022-07-20 22:17] Whomakes opened #3157 "yowsup died?"
yowsup died today?

[2022-07-20 23:00] assegaf commented on #3157
its not died, it just you dont wanna help

[2022-07-20 23:06] whatsapprus commented on #3157
have you tried logging in today? On my side stop login

Чт, 21 июля 2022 г. в 09:00, Din ***@***.***>:

[2022-07-21 01:38] barart commented on #3157
Same question, im facing timeouts and disconnects since monday... its not a ban, its like whatsapp servers are refusing in someway the petitions, sometimes they accept them like 1/100 attemps:

[code]

[2022-07-21 08:24] DevinAo0812 commented on #3157
is there any workaround？

[2022-07-21 08:40] Whomakes commented on #3157
it is not known what the problem is.  no error

[2022-07-21 08:45] DevinAo0812 commented on #3157
I found that it might be in the key authentication there。

handshake.WAHandshake.perform(WAHandshake.java:85)
at consonance.WANoiseProtocol.start(WANoiseProtocol.java:115)

[2022-07-21 11:17] jowiemann commented on #3157
same issue. Also new
_VERSION = "2.22.15"
_MD5_CLASSES = "BwB6r5I7vo6GLR8bPJyJ9A=="
will not work.
New ideas needed :-)

[2022-07-21 13:31] jaimelinharesjr commented on #3157
Died here too.

[2022-07-21 13:33] nightcoder22 commented on #3157
having the same issue since today.

`[offline]:/L
I 2022-07-21 13:28:10,423 yowsup.layers.network.layer - Connecting to e13.whatsapp.net:443
I 2022-07-21 13:28:10,454 yowsup.axolotl.manager - Loaded 500 unsent prekeys
general: Disconnected:`

tried the new number, new registration, and new version md5. Nothing working!!!

[2022-07-21 13:36] nightcoder22 commented on #3156
Update android env file

_VERSION = "2.22.15"
_MD5_CLASSES = "BwB6r5I7vo6GLR8bPJyJ9A=="

[2022-07-21 15:27] rafaelnordavind commented on #3157
I think it might be something like this: [WA protocol upgraded to 3.0](https://github.com/tgalal/yowsup/pull/2924)

[2022-07-22 13:43] sjoerdj commented on #3157
Maybe a DNS issue, as adding the following to /etc/hosts as instructed by @Johnprogg in #2992 worked for me:

157.240.28.55 e1.whatsapp.net e15.whatsapp.net
34.194.255.230 e2.whatsapp.net e16.whatsapp.net
31.13.66.51 e3.whatsapp.net
31.13.71.50 e4.whatsapp.net
31.13.72.48 e5.whatsapp.net
31.13.79.54 e6.whatsapp.net
31.13.85.49 e7.whatsapp.net
31.13.65.50 e8.whatsapp.net
31.13.87.48 e9.whatsapp.net

[2022-07-22 15:08] lauriolasw commented on #3157
Same here!

[2022-07-25 07:06] RobLinux commented on #3157
use g.whatsapp.net  😘

[2022-07-25 07:26] marcocot commented on #3157
Can you add some more details? 😬

[2022-07-25 09:06] dreascomputer commented on #3157
Same here!

[2022-07-25 09:07] dreascomputer commented on #3157
Does anyone has testet [sjoerdj](https://github.com/sjoerdj) solution?

[2022-07-25 10:13] dreascomputer commented on #3157
I've implemented [sjoerdj](https://github.com/sjoerdj) solution - currently it works. I think this is only transitional, or?

[2022-07-25 12:37] sjoerdj commented on #3157
@RobLinux, I guess you made changes to the [/yowsup/common/constants.py](https://github.com/tgalal/yowsup/blob/master/yowsup/common/constants.py) file. If so, could you please share with us how your constants.py looks like?
@dreascomputer, agreed, I see it as a temporary fix and look forward to a cleaner definitive solutuon.

[2022-07-25 12:51] magnussolution commented on #3157
this worked for me. Thanks

[2022-07-25 13:41] Makeda21code commented on #3156
I have the same problem and the update did not solve it

[2022-07-25 13:50] jowiemann commented on #3157
Hello,

attached my constants.py.
[constants.zip](https://github.com/tgalal/yowsup/files/9181748/constants.zip)

[2022-07-28 15:30] adrianohrl commented on #3156
I am having the same problem:

[code]
I am using Ubuntu 20.04 LTS. And I have installed it via `pipx`:

[code]

[2022-07-29 06:55] Joshuwatomy opened #3158 "bad_param backup_token"
getting error bad param backup_token

W 2022-07-29 12:12:34,232 yowsup.common.http.warequest - Passing Config to WARequest is deprecated, pass a YowProfile instead
I 2022-07-29 12:12:35,175 yowsup.common.http.warequest - b'{"login":"917xxxxxx81","param":"backup_token","reason":"bad_param","status":"fail"}\n'
status: b'fail'
reason: b'bad_param'
param: b'backup_token'
login: b'9175xxxxxx81'

[2022-07-29 08:40] Joshuwatomy opened #3159 "no_routes error"
getting this error

W 2022-07-29 14:07:02,755 yowsup.common.http.warequest - Passing Config to WARequest is deprecated, pass a YowProfile instead
I 2022-07-29 14:07:03,294 yowsup.common.http.warequest - b'{"flash_type":0,"login":"91xxxxxxxx72","reason":"no_routes","retry_after":3600,"sms_wait":0,"status":"fail","voice_wait":0}\n'
status: b'fail'
reason: b'no_routes'
retry_after: 3600
login: b'91xx

[2022-07-31 17:48] #3159 closed, assigned to tgalal

[2022-07-31 17:49] #3158 closed, assigned to tgalal

[2022-07-31 17:51] Joshuwatomy opened #3160 "can't sync contacts suing youwsup"
no response from server

1. % yowsup-cli demos --config-phone 172xxxxx81 --sync 917xxxx81,9170xxx98

yowsup-cli  v3.2.1
yowsup      v3.3.0

Copyright (c) 2012-2019 Tarek Galal
http://www.openwhatsapp.org

This software is provided free of charge. Copying and redistribution is
encouraged.

If you appreciate this software and you would like to support future
development please consider donating:
htt

[2022-08-01 09:08] glidingplane commented on #3157
also works for me, thank's a lot !!!

[2022-08-02 13:34] mhmh55516 commented on #3157
Solution
https://github.com/tgalal/yowsup/issues/2992#issuecomment-648039297

[2022-08-02 14:59] Joshuwatomy commented on #3157
is sync contacts command working with this solution?

[2022-08-02 15:00] Joshuwatomy commented on #3157
bro is sync contacts command working with this solution?

[2022-08-07 01:00] devops35 commented on #3114
Hi,

@Mrriror  did you find the solution?

[2022-08-09 10:51] sjoerdj commented on #3157
Based on nslookups of the ip addresses in #2992, I built a new constants.py

[code]
It works, although I am not sure whether the WHATSAPP_SERVER and WHATSAPP_GROUP_SERVER values that I left unchanged are still correct.

[2022-08-09 11:02] Joshuwatomy commented on #3157
contact sync option working?

[2022-08-11 07:45] houjianwen123 commented on #3157
hi, May I know what is the env and setting to solve this issue ? I try use the env_android.py , it seem doeson't work

[2022-08-15 07:10] sjoerdj commented on #3157
Hi @houjianwen123, these settings are in the yowsup/common/constants.py file, not the yowsup/env/env_android.py file.

[2022-08-25 12:42] jecwb commented on #3157
for me died again.

[2022-08-31 16:16] marcocot commented on #3157
it seems to be not working again. has anyone any news?

[2022-09-03 07:42] nekko211 opened #3162 "Unsupported ib node:"

[2022-09-03 07:58] nekko211 commented on #3162
Hello everyone, I tried to run yowsup from different Linux distros, but it always gives the same error "NameError: name 'version' is not defined" and refers to this line in the file "yowsup/layers/noise/layer.py" "app_version= version.str", it seems to me that the problem is in the content of the "env" directory headers, I may be wrong, here is the command line output:
yowsup-cli demos --config-ph

[2022-09-03 08:45] nekko211 opened #3163 "Unsupported ib node:"
Hello everyone, I tried to solve the problem myself and on different Unix distros the same error always pops up "Unsupported ib node:", there may be a problem in the headers or connection, I tried to change carriers, but the same problem still occurs:
[jak@jak ~]$ yowsup-cli demos --config-phone 44********** -y -d
D 2022-09-03 11:27:33,332 yowsup.config.manager - load(path_or_profile_name=44******

[2022-09-03 11:00] #3162 closed, assigned to tgalal

[2022-09-06 13:18] halinet commented on #3157
still working for me

Update android env file

_VERSION = "2.22.15"
_MD5_CLASSES = "BwB6r5I7vo6GLR8bPJyJ9A=="

and update /yowsup/common/constants.py

class YowConstants:
    DOMAIN       = "s.whatsapp.net"
    ENDPOINTS     = (
        ("157.240.28.55", 443),
        #("34.194.255.230", 443),
        ("31.13.66.51", 443),
        ("31.13.71.50", 443),
        ("31.13.72.48", 443),
        ("31.13

[2022-09-17 16:01] Whomakes opened #3164 "Registration error - iOS - 2.22.5.71 - old_version"
{'User-Agent': 'WhatsApp/2.22.5.71 iOS/15.3.1 Device/Apple-iPhone 7', 'Accept': 'text/json'}

I 2022-09-17 23:50:30,858 yowsup.common.http.warequest - b'{"login":"7xxxxxxxxxx","reason":"old_version","status":"fail"}\n'

INFO:yowsup.common.http.warequest:b'{"login":"7xxxxxxxxxx","reason":"old_version","status":"fail"}\n'

INFO:root:WACodeRequest failed: {'status': 'fail', 'reason': 'old_version', '

[2022-09-19 09:49] mxd123021 commented on #3157
Still prompts:
I 2022-09-19 17:43:05,663 yowsup.common.http.warequest - b'{"login":"","re​​ason":"old_version","status":"fail"}\n '
Status: b 'failed'
Reason: b'old_version

[2022-09-19 16:54] official-MKV commented on #3123
Has Anyone fixed this issue please. I was able to locate where the requests take place in the yowsup\yowsup\common\http\warequest.py I generated 2 backup_tokens :
![Screenshot (34)](https://user-images.githubusercontent.com/104795383/191071574-3fc829dd-8766-4c20-ac3b-e6f091f5584f.png)
**The first one using the JS code**
`
const crypto = require("crypto");

const constant = "A\u0004\u001d@\u0011\u0

[2022-09-19 16:57] official-MKV commented on #3123
Please someone should fix this issue

[2022-09-23 05:06] hirschbach commented on #3158
Hi Joshuwatomy,

please, can you tell me the solution for the "backup_token" problem?

Thanks

[2022-09-25 09:01] limelect opened #3165 "Demo problem"
I use your demo run.py and layer.py
i put my phone and password CREDENTIALS =
I get an error
  create_key=_descriptor._internal_create_key,

Traceback (most recent call last):
  File "G:\1\Delphi\Whatsapp\yowsup-master\Demo\run.py", line 9, in <module>
    from yowsup.stacks import YowStack
  File "C:\Python\Python36-32\lib\site-packages\yowsup-3.3.0-py3.6.egg\yowsup\stacks\__init__.py", line 1, i

[2022-09-26 11:37] sainthardrock commented on #3061
Any update ? As far as i found there is no way to remove messages in whatsapp even their own official api.
https://stackoverflow.com/questions/55679548/is-there-a-way-to-delete-or-update-whatsapp-message-sent-by-the-user-to-twilio-b

[2022-10-04 21:58] hamzos opened #3166 "Old version Error 4th October 2022"
Hello Everyone
I followed all the discussions concerning this issue, I executed some python scripts and updated env_android.py with the newest whatsapp apk version.
after that I executed : python setup.py build + python setup.py install
But I'm still getting the same error message when I try to register an account : "reason: old_version"

Can anyone please teach me how to fix this issue ?
I can pa

[2022-10-05 11:43] #3166 closed, assigned to tgalal

[2022-10-06 10:10] rohitmali123 commented on #3123
Version: 2.22.21
ClassesDex: vZBCF10FCpZe5K5dQdt7fA==

[2022-10-08 12:48] rohitmali123 commented on #3165
pip install --upgrade protobuf

upgrade it

[2022-10-08 18:56] hamzos opened #3169 "Change Whatsapp Account Username : "Yowsup""
Hello Everyone

Does anyone know how can we change our whatsapp account's username? From the default one : "Yowsup" to another name (my company's name for example)?

Thanks,

[2022-10-09 16:37] #3169 closed, assigned to tgalal

[2022-10-13 19:13] kushagra9967 opened #3170 "Unable to Send Media/Image using yowsup-cli"
I have installed Yowsup Library. Registered my phone number and was able to log in. I can easily send text messages but am not able to send images or videos. Basically nothing happens when i enter "/image send 91XXXXXXX /root/yowsup/baby.png caption". Similar kinds of questions asked in the past have not been answered correctly. Does anyone know how to fix this with the new protocol of WhatsApp?

[2022-10-16 02:21] dlepold commented on #3113
I'm having the same problem, could you solve it?

[2022-10-22 02:48] antonio199205 opened #3172 "old_version"
W 2022-10-21 23:43:01,999 yowsup.common.http.warequest - Passing Config to WARequest is deprecated, pass a YowProfile instead
I 2022-10-21 23:43:02,288 yowsup.common.http.warequest - b'{"login":"55629xxxxxx","reason":"old_version","status":"fail"}\n'
status: b'fail'
reason: b'old_version'
login: b'55629xxxxxx'

[2022-10-22 17:18] antonio199205 commented on #3172
I switched to ios but I get this error

Traceback (most recent call last):
  File "c:\Users\Anton\AppData\Local\Programs\Python\Python310\Scripts\yowsup-cli", line 4, in <module>
    __import__('pkg_resources').run_script('yowsup==3.3.0', 'yowsup-cli')
  File "c:\Users\Anton\AppData\Local\Programs\Python\Python310\lib\site-packages\pkg_resources\__init__.py", line 672, in run_script
    self.requi

[2022-10-24 09:10] dyahav3 commented on #3172
Same thing here

[2022-10-24 14:41] antonio199205 commented on #3172
I managed to make it work, I updated the whatsapp constants, I just don't know how to send a message

[2022-10-24 14:49] antonio199205 commented on #3172
![image](https://user-images.githubusercontent.com/111067121/197554550-f6262ac6-8c23-4e3c-8f3e-a2e89b93c36b.png)

![image](https://user-images.githubusercontent.com/111067121/197555914-87a5d388-5f4d-4ab0-82c6-161afda9d24f.png)

[2022-10-24 15:05] madduck commented on #3172
@antonio199205 could you please tell us what constants you updated? Maybe this library is unmaintained and needs a fork?

[2022-10-24 15:09] antonio199205 commented on #3172
_MD5_CLASSES = "jJYkDZJ+SGfBMvlEeGKmSw=="
     _VERSION = "2.22.19.76"

[2022-10-24 15:09] madduck commented on #3172
Thanks. This should be merged into #3156

[2022-10-24 15:10] madduck commented on #3172
@antonio199205 could you please also share how you derived those new data?

[2022-10-24 15:18] madduck commented on #3172
Using those constants successfully got my burner phone registered. However, trying to use the demo client, I cannot seem to get connected:

[code]

[2022-10-24 15:29] antonio199205 commented on #3172
I have a developer friend who makes desktop software I got it from him I'll see if there's anything more up to date
https://www.youtube.com/channel/UCi6ejEXJgiVYHTH5c14TBpg

[2022-10-24 18:37] antonio199205 commented on #3172
8Fz9R1yOYocVWtGWahVYBw==
2.22.21.83

try with this one
[madduck](https://github.com/madduck)

[2022-10-24 18:43] antonio199205 commented on #3172
if it works let me know

[2022-10-24 20:13] madduck commented on #3172
It worked for me with

[code]

after I replaced all endpoints in `constants.py` with `g.whatsapp.net`, as suggested here: https://github.com/tgalal/yowsup/issues/3157#issuecomment-1193663427

It also works with the values you suggested above (2.22.21.83)

[2022-10-24 20:29] antonio199205 commented on #3172
ok, whenever i need constant whatsapp i have something else how do i send a message to a number

[2022-10-25 07:55] madduck opened #3173 "Linking secondary devices"
The proprietary WhatsApp client can authenticate other clients, such as WhatsApp Web. To link such a secondary device, a QR code generated on the secondary device is scanned by the primary client. Presumably, this is a public key, signed by the primary client, then uploaded to the WhatsApp servers, thus giving the secondary client access to the account. I don't know the details of this (yet), but

[2022-10-25 08:19] madduck commented on #3172
You can use the demo client to send a message, or write some Python. It's documented on the Wiki.

[2022-10-25 13:25] antonio199205 commented on #3173
what is your whatsapp or telegram, I can hash channels and leave them online on the web or in emulators

[2022-10-25 22:42] dazzzl commented on #3172
@madduck
It does not work for me... I got  `<failure reason="401" location="atn">`

What have you modified except the modification above?

BTW r.whatsapp.net does not work... should be g.whatsapp.net?

Thanks!

[2022-10-26 04:50] Whomakes opened #3174 "yowsup died again?"
Registration not working! The request is sent but the account authorization fails.

D 2022-10-26 12:46:56,213 dissononce.processing.impl.handshakestate - MixHash(prologue)
DEBUG:dissononce.processing.impl.handshakestate:MixHash(prologue)
INFO:transitions.core:Finished processing state handshake exit callbacks.
INFO:transitions.core:Finished processing state handshake enter callbacks.
INFO:transiti

[2022-10-26 05:00] madduck commented on #3172
yeah @dazzzl, g.... editing.

[2022-10-26 07:11] houjianwen123 commented on #3174
same , when I start any demo client , it show connected to whats app server then disconnect at once..

"yowsup.demos.echoclient.layer - Connected to WhatsApp servers
yowsup.layers.network.dispatcher.dispatcher_asyncore - handle_close
yowsup.layers.network.layer - Disconnected
yowsup.layers.axolotl.layer_control - Disconnected, reboot_connect? = False"

[2022-10-26 07:51] madduck commented on #3174
Yeah, same thing here, it worked yesterday. It's like trying to nail pudding to the wall.

[2022-10-26 08:05] dazzzl commented on #3174
I tried it with protocol 4.1, but it does also not work. The error message changed, I think due to different token directory

[2022-10-26 15:42] dreascomputer commented on #3174
Seems to be working now

[2022-10-26 16:25] dazzzl commented on #3174
@dreascomputer  My yowsup is not working.... which env? which endpoints?

[2022-10-26 17:57] jowiemann commented on #3174
Works for me with:

    _MD5_CLASSES = "jJYkDZJ+SGfBMvlEeGKmSw=="

    _VERSION = "2.22.19"

Jörg

[2022-10-26 18:04] kushagra9967 commented on #3172
@madduck @antonio199205 can we send images using yowsup . I am not able to send any media . Can u please help me ?

[2022-10-26 19:09] antonio199205 commented on #3172
[kushagra9967](https://github.com/kushagra9967) I don't know how it works, I don't even know how to send a simple text message, but I have developers to work on this project, if anyone has the code developer's contact and wants to let me know, I have a good proposal for him to update the code

[2022-10-26 20:00] kushagra9967 commented on #3172
@antonio199205 : i have messaged you on telegram

[2022-10-26 20:26] antonio199205 commented on #3172
[kushagra9967](https://github.com/kushagra9967) https://t.me/sac_store24h

[2022-10-26 20:49] dreascomputer commented on #3174
On my side:
[code]
Endpoints default but via hosts file redirected:
[code]
but it wasn't working first. I wait a couple of hours and it came back, seems to be connection problems like yesterday on app itself

[2022-10-27 01:35] kalijassy commented on #1793
How to save WhatsApp getting ban contact me on WhatsApp +917347261998

[2022-10-27 07:04] kushagra9967 commented on #3172
@antonio199205 : i have already messaged. Please Check

[2022-10-27 17:18] AlysonTrizotto opened #3175 "is KeyPair"
Hello, I'm trying to make use of your lib, however whenever I run run.py :

`from tkinter import Y
from layer import EchoLayer
from send_message import send_message

from yowsup.layers.auth import YowAuthenticationProtocolLayer
from yowsup.layers.protocol_messages import YowMessagesProtocolLayer
from yowsup.layers.protocol_receipts import YowReceiptProtocolLayer
from yowsup.layers.protocol_acks im

[2022-10-29 02:14] Macarthurval commented on #3146
I have it, but not with yowsup.

[2022-10-29 07:09] kylonrizoki commented on #3146
please pm, kylonrizoki#3255

[2022-11-02 04:00] OVERSKY2003 opened #3176 "lots of accounts were banned yesterday(1Nov2022), what happened？"
I uses yowsup to send and receive message for two months. only few accounts were banned. But Yesterday(1Nov2022), lots of accounts were banned. Anyone knows what happen？

The error message:
failure vt="15" reason="403" location="odn"

[2022-11-02 06:03] houjianwen123 commented on #3176
I have 2 account one is band this morrning , another is fine , is it the same issue?

[2022-11-02 08:05] rollisbug opened #3177 "Has anyone used this library whatsapp-nodejs ? Looks like it's working."
[https://github.com/yisbug/whatsapp-nodejs](https://github.com/yisbug/whatsapp-nodejs)

But this library needs to use nodejs. Can someone test whether it works normally?

The code look like this:

[code]

[2022-11-03 06:21] OVERSKY2003 commented on #2892
I also had the same issue today. How to solve it?

[2022-11-03 06:25] OVERSKY2003 opened #3178 ""Sent keys were not accepted" issue"
The error is as below, How to fix it?

2022-11-02 19:49:55,244 yowsup.layers.network.dispatcher.dispatcher_asyncore - Traceback (most recent call last):
  File "/yowsup-3.3.0-py3.8.egg/yowsup/layers/network/dispatcher/asyncore_new.py", line 88, in read
    obj.handle_read_event()
  File "/yowsup-3.3.0-py3.8.egg/yowsup/layers/network/dispatcher/asyncore_new.py", line 447, in handle_read_event
    s

[2022-11-03 08:56] frankmuc commented on #2892
I am no longer using yowsup. Isn't this project dead anyway? It can't be used any longer as far as I know...

[2022-11-03 20:24] frankmuc commented on #2892
I am closing this issue since the affected system does no longer exist after three years, so it's no longer relevant.

[2022-11-03 20:24] #2892 closed

[2022-11-04 13:09] #3175 closed, assigned to tgalal

[2022-11-06 23:54] antonio199205 opened #3179 "novas consoantes whatsapp"
xvHJS7OwkFzSCemQ0VX8cg==
2.22.22.80

[2022-11-06 23:58] antonio199205 commented on #3172
xvHJS7OwkFzSCemQ0VX8cg==
2.22.22.80

[2022-11-07 00:04] antonio199205 commented on #3156
xvHJS7OwkFzSCemQ0VX8cg==
2.22.22.80

[2022-11-08 08:29] MySoulisBeer commented on #3179
@antonio199205 Can you please provide some demo of working code?
mysoulisbeer@proton.me

[2022-11-08 08:32] MySoulisBeer commented on #3165
The demo example uses (phone, password) combination, but app says it is deprecated. Can anyone provide some simple demo of working code?

[2022-11-11 08:44] clarithromycine commented on #3178
try to rerun about 8 times
then exception disappear

[2022-11-18 20:25] brunoaduarte opened #3181 "Contact"
![image](https://user-images.githubusercontent.com/5354345/202795282-346e4ad7-e25e-4de8-a4a1-e52d41809368.png)

How can I get in touch with you @tgalal , it's been almost 1 week since I've sent you 2 emails but got no response. Thanks.

[2022-11-22 00:37] antonio199205 commented on #3179
2.22.23.84
Qc0kUxteJdDJSpeLPeHMKQ==

[2022-11-22 00:37] antonio199205 commented on #3172
2.22.23.84
Qc0kUxteJdDJSpeLPeHMKQ==

[2022-11-24 08:53] yanzhidiyi commented on #3174
有人解决了这个问题没？请联系我 有红包酬谢

[2022-11-27 22:06] FkyMouse commented on #3172
Version: 2.22.23.85
ClassesDex: YgGFYlBVxzteZp1oO+v28w==

But it still does not work
what can do with it. cant make a registration
`status: b'fail'
reason: b'old_version'
login: b'7904XXXXXXX'`

[2022-11-29 10:26] Macarthurval commented on #3173
Hi, I've a solution for this, to keep WhatsApp session endless opened. Contact me if you're interested.

[2022-11-29 15:13] tgalal commented on #3173
It is something indeed worth considering, although unfortunately no time from my side to implement it for the time being.

[2022-11-30 07:03] reversePublic commented on #3174
需要技术支持可以联系我 telegram:@tgforme2